/*Часть Header*/

* {
    margin:0;
    box-sizing: border-box;
}

header {    
    width: 100%;
    height: 60px;
    background-color: rgb(99, 99, 99);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: whitesmoke;
    align-items: flex-start;
    padding: 0 24px;
}

#navBarLeft a {
    font-weight: 900;
    color: whitesmoke;
}


#navBarMenu {
    font-weight: 500;
    display: flex;
    width: 380px;
    color: whitesmoke;
    justify-content: space-between;
}

#navBarMenu a {
    color: whitesmoke;
    text-decoration: none;
}


#navBarBtnContact {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(80, 20, 243), rgb(175, 77, 167));
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    text-decoration: none;
}

#navBarBtnMenu {
    display: none;
}

#navBarDropDown {
    display: none;
}

@media (max-width: 600px) {

    #navBarMenu {
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        border: 2px solid gray;
    }

    #navBarMenu a {
        width: 100%;
        height: 40px;
        background: rgb(223, 223, 223);
        color: black;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid;
    }

    #navBarBtnContact {
        height: 40px;
        width: 100%;
        border-radius: 0px;
        background-color: rgb(223, 223, 223);
        text-align: center;
        line-height: 30px;
        margin: 0;
    }

    #navBarBtnMenu {
        display: inline-block;
        font-size: 22px;
        background-color: transparent;
        border: 0;
        height: 30;
        line-height: 30px;
        margin: 10px;        
        color: whitesmoke;
    }
}
/*Часть main и footer*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

#gallery {
  padding: 40px;
  text-align: start;
  background: #fff;
}

#gallery h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.gallery-container {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 100%;
  max-width: 400px;
  height: 280px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  color: #444;
  margin: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr; /* одна колонка */
    justify-items: center; /* все элементы внутри по центру */
    gap: 20px;
  }
  .card {
    max-width: 400px;
    width: 100%; /* чтобы не растягивалась больше контейнера */
  }
}

#team {
  padding: 40px 20px;
  text-align: center;
}

#team h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
}

/* Грид для карточек */
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  /* отступы между карточками */
  justify-content: center;
}

/* Карточка */
.team-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  flex-shrink: 0;
  /* затухание при уменьшении размера экрана */
  text-align: center;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  /* не искажает фото */
}

.team-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.team-card p {
  font-size: 14px;
  color: #555;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  background: linear-gradient(135deg, #dcd1ec, #ece9ee);
  color: black;

  width: 90vw;
  height: 300px;
  border-radius: 20px;
  margin: 100px auto;
  padding: 40px;
}

.headLine {
  font-style: italic;
  font-size: 50px;
  margin-bottom: 10px;
}

.subheadline {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: rgb(172, 139, 228);
  background: linear-gradient(120deg, rgb(111, 21, 208), #e3d5e5);
  color: white;
  border-radius: 8px;
  border: 1px solid violet;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: linear-gradient(135deg, #2d0e27, #a1399d);
  color: #fff;
}

#about2 {
  background-color: rgb(244, 237, 237);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  width: 90vw;
  height: auto;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
  scroll-margin-top: 70px;
}
footer {
  background: #fff;
  padding: 20px;
  border-top: 1px solid #eee;
}

#footer-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  justify-content: start;
  align-items: start;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

/* --- Адаптив --- */
@media (max-width: 992px) {
  .team-container {
    grid-template-columns: repeat(2, 1fr);
    /* по 2 карточки */
  }
}

@media (max-width: 600px) {
  .team-container {
    display: grid;
    grid-template-columns: 1fr; /* одна колонка */
    justify-items: center; /* все элементы внутри по центру */
    gap: 20px;
  }
  #footer-container {
    grid-template-columns: 1fr; /* в 1 колонку на мобилках */
    gap: 20px;
    text-align: left;
  }
}

/* Повтор?
.headLine {
  font-style: italic;
  font-size: 50px;
  margin-bottom: 10px;
}

.subheadline {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: rgb(172, 139, 228);
  background: linear-gradient(120deg, rgb(111, 21, 208), #e3d5e5);
  color: white;
  border-radius: 8px;
  border: 1px solid violet;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: linear-gradient(135deg, #2d0e27, #a1399d);
  color: #fff;
}

.about2 {
  background-color: rgb(244, 237, 237);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  width: 90vw;
  height: auto;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
}
*/